# Ignore PowerShell virtual environment directory
.pwsh_venv/
# Ignore macOS Finder metadata files
.DS_Store
# Ignore Python virtual environment directory
.pwsh_venv
# Ignore Python cache files
__pycache__/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Jupyter Notebook metadata
.ipynb
# Ignore Jupyter Notebook configuration files
.jupyter/           NCCE_Credentials.json
